<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Male_Fashion Template">
  <meta name="keywords" content="Male_Fashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HUFIKO Login</title>
  <link rel="icon" href="/user/assets/hufiko-website.png">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="/user/styleSheet/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/user/styleSheet/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/user/styleSheet/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/user/styleSheet/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/user/styleSheet/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/user/styleSheet/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/user/styleSheet/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/user/styleSheet/style.css" type="text/css">
  <link rel="stylesheet" href="/user/styleSheet/login.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
</div>
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">


    </div>
    <div class="offcanvas__nav__option">
      <a href="#" class="search-switch"><img src="/user/assets/img/icon/search.png" alt=""></a>
      <a href="#"><img src="/user/assets/img/icon/heart.png" alt=""></a>
      <a href="#"><img src="/user/assets/img/icon/cart.png" alt=""> <span>0</span></a>
      <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
      <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
  </div>
  <!-- Offcanvas Menu End -->

  <!-- Header Section Begin -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <div class="header__top__left">
              <p>Free shipping, 30-day return or refund guarantee.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="header__logo">
            <a href="/"><img src="/user/assets/hufiko-logo.png" width="120px" alt=""></a>
          </div>
        </div>
      </div>

      <!-- <div class="canvas__open"><i class="fa fa-bars"></i></div> -->
    </div>
  </header>
  <!-- Header Section End -->
  <!-- <section>

    <div class="col-lg-6 col-md-6 login">
      <h1>Log in</h1>
      <div class="contact__form">
        <% if(typeof message !=='undefined' ){%>
          <p style="color: red;">
            <%= message %>
          </p>
          <% } %>
            <form action="/" method="post">
              <div class="row">
                <div class="col-6">
                  <input type="text" id="name" name="name" placeholder="User Name" required>
                </div>
                <div class="col-6">
                  <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="col-4">
                  <button type="submit" class="site-btn">Log in</button>
                </div>
              </div>
            </form>
      </div>
      <p><a href="/forget">Forget Password?</a></p>
      <p>Don't have a account <a href="/register">Register?</a></p>
    </div>
  </section> -->
  <section class="vh-100 gradient-custom">
    <div class="container py h">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 mt-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div >
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 ">Please enter your login and password!</p>
                <% if(typeof message !=='undefined' ){%>
                  <p style="color: red;">
                    <%= message %>
                  </p>
                  <% } %>
                <form action="/" method="post">
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="name" name="name" required class="form-control form-control-lg" />
                    <label class="form-label" for="name">User Name</label>
                  </div>
    
                  <div class="form-outline form-white mb-4">
                    <input type="password" id="password" name="password"  required class="form-control form-control-lg" />
                    <label class="form-label" for="password">Password</label>
                  </div>
    
                  <p class="small mb-1 pb-lg-2"><a class="text-white-50" href="/forget">Forgot password?</a></p>
    
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                </form>
              </div>
  
              <div class="mt-2">
                <p class="mb-0">Don't have an account? <a href="/register" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<script src="/user/javaScript/jquery-3.3.1.min.js"></script>
<script src="/user/javaScript/bootstrap.min.js"></script>
<script src="/user/javaScript/jquery.nice-select.min.js"></script>
<script src="/user/javaScript/jquery.nicescroll.min.js"></script>
<script src="/user/javaScript/jquery.magnific-popup.min.js"></script>
<script src="/user/javaScript/jquery.countdown.min.js"></script>
<script src="/user/javaScript/jquery.slicknav.js"></script>
<script src="/user/javaScript/mixitup.min.js"></script>
<script src="/user/javaScript/owl.carousel.min.js"></script>
<script src="/user/javaScript/main.js"></script>
<script>
  const name = document.getElementById('name')
  const password = document.getElementById('password')

  // User Name
  name.addEventListener('input', () => {
    if (name.value.trim().length < 3) {
      name.setCustomValidity("Minimum 3 Charecters Required")
    } else {
      name.setCustomValidity("")
    }
  })

  // Password
  password.addEventListener('input', () => {
    if (password.value.trim().length = 0) {
      password.setCustomValidity("Password Cannot be Null")
    } else if (password.value.trim().length < 8) {
      password.setCustomValidity("Minimus 8 charecters required")
    } else {
      password.setCustomValidity("")
    }
  })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>